<div class="dialog-container pokerole">
  <ol class="items-list">
    <ul class="inner">
      <li class="item tools header flexrow">
        <div class="item-prop" data-tooltip="Health">
          <i class="fas fa-heart"></i> {{system.hp.value}} /  {{system.hp.max}}
        </div>
        <div class="item-prop" data-tooltip="Will">
          <i class="fas fa-fire"></i> {{system.will.value}} /  {{system.will.max}}
        </div>
      </li>
    </ul>
    <ul class="inner">
      {{#each quickMoves as |item id|}}
      <li class="item flexrow {{#if item.usable}}rollable{{/if}} {{#if item.data.system.usedInRound}}used-in-round{{/if}} {{#unless item.usable}}translucent{{/unless}}" data-item-id="{{item.data._id}}" data-roll-type="item">
        <div class="item-name flexrow">
          <div class="item-image move-image">
            <img src="{{item.data.img}}" title="{{itemdata.data.name}}" width="30" height="30"/>
          </div>
          <div class="item-name">
          <h4 {{#if item.data.system.effect}}data-tooltip="{{item.data.system.effect}}"{{/if}}
            {{#if item.disabled}}class="strikethrough"{{/if}}>{{item.data.name}}</h4>
          </div>
          {{#if item.data.system.usedInRound}}
          <div class="item-prop span"><a class="quick-reset-move" data-item-id="{{item.data._id}}"><i class="fas fa-rotate"></i> Reset</a></div>
          {{else}}
          <div class="item-prop small" data-tooltip="Accuracy ({{item.data.system.accMod1}}+{{item.data.system.accMod2}})"><i class="fas fa-crosshairs-simple"></i> {{item.accuracyPool}}</div>
          
          <div class="item-prop small" data-tooltip="Damage pool ({{item.data.system.dmgMod}}+{{item.data.system.power}})">
            {{#if item.dmgPool}}<i class="fas {{#if (eq item.data.system.dmgMod 'strength')}}fa-sword{{/if}}{{#if (eq item.data.system.dmgMod 'special')}}fa-bolt{{/if}}{{#if (eq item.data.system.dmgMod '')}}fa-question{{/if}}"></i> {{item.dmgPool}}{{/if}}
          </div>
          {{/if}}
        </div>
      </li>
    {{/each}}
    </ul>
    <ul class="inner">
      <li class="item tools footer flexrow">
        <div class="item-prop">
          Actions<br />
          {{usedActions}}/5
        </div>
        <div class="item-prop" data-tooltip="Required successes">
          Successes<br />
          <i class="fas fa-crosshairs-simple"></i> {{system.actionCount.value}}
        </div>
        <div class="item-prop {{#unless system.canClash}}used-in-round{{/unless}}"{{#unless system.canClash}} data-tooltip="Clash used this round"{{/unless}}>
          Clash<br/> <i class="fas fa-sword"></i> {{system.clashPhysical.value}} <i class="fas fa-bolt"></i> {{system.clashSpecial.value}}
        </div>
        <div class="item-prop {{#unless system.canEvade}}used-in-round{{/unless}}"{{#unless system.canEvade}} data-tooltip="Evasion used this round"{{/unless}}>
          Evade<br/> {{system.evade.value}}
        </div>
      </li>
    </ul>
  </ol>
</div>